.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-section-content-1 {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-section-content-1-card {
  width: 100%;
  max-width: 720px;
  border-radius: 10px;
  background: #1a304f;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.about-section-content-1-card-title {
  color: #d4d4d4;
  font-size: 32px;
  font-weight: 700;
}

.about-section-content-1-card-description {
  color: #d4d4d4;
  font-size: 24px;
  font-weight: 400;
}

.company-logos {
  display: flex;
  gap: 60px;
  max-width: 1200px;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: -0px;
}
