.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-section-content-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.about-section-content-1-card {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  background: #1a304f;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.about-section-content-1-card-title {
  color: #d4d4d4;
  font-size: 32px;
  font-weight: 700;
}

.about-section-content-1-card-description {
  color: #d4d4d4;
  font-size: 24px;
  font-weight: 400;
}

.company-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  max-width: 1200px;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: -0px;
}

.company-logo {
  max-width: 280px;
  height: auto;
  margin: 5px;
}

.profile {
  width: 380px;
  height: auto;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Tablet */
@media (max-width: 900px) {
  .about-section-content-1-card-title {
    font-size: 20px;
  }

  .about-section-content-1-card-description {
    font-size: 16px;
  }

  .about-section-content-1-card {
    max-width: 400px;
  }

  .company-logos {
    gap: 30px;
    max-width: 800px;
  }

  .profile {
    width: 280px;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .about-section-content-1 {
    max-width: 380px;
    display: block;
  }

  .about-section-content-1-card {
    max-width: 380px;
  }

  .company-logos {
    max-width: 400px;
  }

  .profile {
    width: 380px;
    margin-top: 30px;
  }
}
