.footer {
  background-color: #0e192a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  padding-top: 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-center {
  width: 33%;
}

.footer-left {
  text-align: left;
  width: 33%;
}

.footer-right {
  text-align: right;
  width: 33%;
}

/* Mobile */
@media (max-width: 425px) {
  .footer-left,
  .footer-right {
    font-size: 12px;
  }
}
