.footer {
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  padding-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 3px;
  font-weight: 500;
}

.footer-center {
  width: 33%;
}

.footer-left {
  text-align: left;
  width: 33%;
}

.footer-right {
  text-align: right;
  width: 33%;
}

/* Mobile */
@media (max-width: 425px) {
  .footer-left,
  .footer-right {
    font-size: 12px;
  }
}
