.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 1300px;
  padding-top: 100px;
  text-align: center;
}

.hero-heading {
  max-width: 1300px;
  color: #333;
  font-size: 88px;
  font-weight: 700;
}

.hero-subtitle {
  color: #666;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 0;
}

.hero-description {
  color: #666;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 60px;
}

.hero-button {
  padding: 10px 20px;
  margin-top: 60px;
  color: #282825;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #282825;
  background: rgba(217, 217, 217, 0);
}

.heroStripes-svg {
  padding-top: 100px;
  width: 100%;
}
