#navbar {
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  z-index: 100;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  padding: 0.5rem 1rem;
  margin-left: 20px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.stripes-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-link:hover .stripes-svg {
  opacity: 1;
}

.sticky {
  background-color: #1a304f; /* Background color when sticky */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.sticky .nav-link {
  color: #cccccc; /* Font color when sticky */
}
