.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1200;
  padding-top: 100px;
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 3px;
}

.filter {
  color: #bbb;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  background: none;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform 0.3s ease;
}

.filter:hover {
  transform: scale(1.1);
}

.filter.active {
  border-radius: 10px;
  background: #242424;
  color: #f6faff;
}

.filter.active:hover {
  transform: scale(1.1);
}

.projects-container-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  color: #d4d4d4;
}

.projects-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-container a {
  text-decoration: none;
  color: #1C1C1C;
  font-size: 24px;
  font-weight: 700;
  
}

.project-card {
  width: 380px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 3px;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-tags {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f6faff;
  font-size: 16px;
  font-weight: 700;
}

.project-tags span {
  margin-right: 5px;
  padding: 3px 8px;
  border-radius: 5px;
}

.projects-button-section {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.projects-button {
  color: #d4d4d4;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  width: 300px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease;
  transition: transform 0.3s ease;
  margin-bottom: 60px;
  border: 3px solid #282825;
  color: #282825;
}

.projects-button:hover {
  transform: scale(1.1);
}

/* Tablet */
@media (max-width: 900px) {
  .project-card {
    width: 300px;
  }

  .projects-container {
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .project-card {
    width: 380px;
  }

  .filters {
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }

  .filter {
    font-size: 18px;
  }

  .projects-container-wrapper {
    padding-top: 45px;
  }

  .projects-button-section {
    margin-bottom: -30px;
  }

  .projects-button-section {
    padding-top: 0px;
  }
}
