/* Services section */
.services-section-cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  gap: 75px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.services-section-card-design,
.services-section-card-development,
.services-section-card-seo {
  border-radius: 10px;
  background: #242424;
  max-width: 340px;
  max-height: 500px;
  display: inline-flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.services-section-content {
  display: flex;
  flex-direction: column;
  color: #d4d4d4;
  align-items: center;
  text-align: center;
  gap: 30px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 3px;
}

.services-section-content-heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: -10px;
}

.services-section-content-text {
  font-size: 20px;
  font-weight: 500;
}

/* Tablet */
@media (max-width: 1000px) {
  .services-section-cards {
    gap: 35px;
  }

  .services-section-card-design,
  .services-section-card-development,
  .services-section-card-seo {
    max-height: 600px;
  }

  .services-section-content-heading {
    font-size: 20px;
  }

  .services-section-content-text {
    font-size: 16px;
  }

  .icons-services {
    width: 60px;
    height: 60px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .services-section-cards {
    flex-direction: column;
    align-items: center;
  }

  .services-section-content-heading {
    font-size: 24px;
  }
}
