.sticky-header {
  background-color: #f4f5f5e3;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 999;
}

.sticky-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.sticky-header li {
  margin: 0 25px;
}

.sticky-header a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.sticky-header a:hover {
  color: #b7353c;
}

.nav-link {
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}
