.sticky-header {
  background-color: #1C1C1C;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 999;
  display: flex;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
}

.sticky-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.sticky-header li {
  margin: 0 25px;
}

.sticky-header a {
  color: #d4d4d4;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 3px;
}

.sticky-header a:hover {
  color: #00AEA9;
}

.nav-link {
  transition: transform 0.2s ease-in-out;
}

.header-element {
  width: 150px;
}

.cta-button-header {
  color: #fefefe;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  flex-shrink: 0;
  border-radius: 5px;
  background: #00AEA9;
  border: none;
  width: 150px;
  height: 40px;
  transition: background 0.3s ease;
  transition: transform 0.3s ease;
}

.cta-button-header:hover {
  background: #00AEA9;
  transform: scale(1.1);
}

.cta-button-header a {
  color: #d4d4d4;
}

.logo {
  width: 55px;
  height: auto;
}
