.work-section-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 3px;
}

.project-image {
  height: 300px auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.project-image:hover {
  transform: scale(1.05);
}

.work-section-content-1,
.work-section-content-2 {
  display: flex;
  align-items: center;
  gap: 50px;
}

.work-section-content-1-card,
.work-section-content-2-card {
  width: 100%;
  height: auto;
  min-height: 300px;
  border-radius: 10px;
  background: #242424;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  transition: background 0.6s ease;
}

.work-section-content-1-card-title,
.work-section-content-2-card-title {
  color: #d4d4d4;
  font-size: 32px;
  font-weight: 700;
}

.work-section-content-2-card-title {
  text-align: left;
}

.work-section-content-1-card-description,
.work-section-content-2-card-description {
  color: #d4d4d4;
  font-size: 24px;
  font-weight: 400;
}

.work-section-content-2-card-description {
  text-align: left;
}

.work-section-content-1-card-tags,
.work-section-content-2-card-tags {
  color: #d4d4d4;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  gap: 20px;
}

.work-section-content-2-card-tags {
  display: flex;
  justify-content: flex-start;
}

.design-tag {
  color: #00AEA9;
}

.dev-tag {
  color: #F3426E;
}

.marketing-tag {
  color: #FD8103;
}

.work-section-cta-text,
.about-section-cta-text {
  color: #d4d4d4;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding-top: 60px;
}

.work-section-cta-button {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 20px;
}

.cta-button,
.social-button {
  color: #1C1C1C;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  width: 300px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #00AEA9;
  border: none;
  transition: background 0.3s ease;
  transition: transform 0.3s ease;
}

.cta-button:hover {
  background: #F3426E;
  transform: scale(1.1);
}

.cta-button a {
  color: #d4d4d4;
}

/* Tablet */
@media (max-width: 900px) {
  .project-image {
    max-width: 350px;
    height: 280px auto;
  }

  .work-section-content-1-card,
  .work-section-content-2-card {
    min-height: 210px;
    gap: 10px;
  }
  .work-section-content {
    gap: 25px;
  }

  .work-section-content-1,
  .work-section-content-2 {
    gap: 25px;
  }

  .work-section-content-1-card-title,
  .work-section-content-2-card-title {
    font-size: 20px;
  }

  .work-section-content-1-card-description,
  .work-section-content-2-card-description {
    font-size: 16px;
  }

  .work-section-content-1-card-tags,
  .work-section-content-2-card-tags {
    font-size: 14px;
  }

  .cta-button {
    font-size: 20px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .work-section-content-1 {
    flex-direction: column;
  }

  .work-section-content-2 {
    flex-direction: column-reverse;
  }

  .work-section-content-2-card-title,
  .work-section-content-2-card-description {
    text-align: left;
  }

  .work-section-content-2-card-tags {
    justify-content: flex-start;
  }

  .project-image {
    max-width: 385px;
  }

  .work-section-content-1-card-title,
  .work-section-content-2-card-title {
    font-size: 24px;
  }

  .work-section-cta-text,
  .about-section-cta-text {
    padding-top: 30px;
  }
}
