/* Content section */
.services-section,
.work-section,
.about-section,
.testimonials-section,
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap;
}

.services-section-heading,
.work-section-heading,
.about-section-heading,
.testimonials-section-heading {
  display: flex;
  align-items: center;
  color: #d4d4d4;
  padding-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  padding-left: 30px;
}

.content-section-text,
.contact-section-text {
  color: #d4d4d4;
  font-size: 24px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 90px;
}

p {
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.services-section-heading,
.content-section-text,
.services-section-card-design,
.services-section-card-development,
.services-section-card-seo,
.work-section-heading,
.work-section-content,
.work-section-cta,
.about-section-heading,
.about-section-content,
.about-section-cta-text,
.company-logos,
.testimonials-section-heading,
.testimonial-item,
.contact-section-heading,
.contact-section-text,
.social-buttons {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.fade-in {
  transform: translateY(0);
  opacity: 1;
}
